/*Fonts used for H1 "Cinzel"
Fonts used for all other elements "Fauna One"*/

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  Font-Family: 'Fauna One', Serif;
}

a, a:hover {
  text-decoration: none;
  /*color: inherit;*/
}


span {
  display: block;
}

hr {
  background: #7b7d84;
}

h1 {
  Font-Family: 'Cinzel', Cursive;
}

hr {
  width: 99%;
  opacity: 0.6;
  margin-top: 0;
}

input {
  margin-bottom: 10px;
  border: 1px solid #ececec;
}
nav {
  background-color: #fff;
}

p {
  font-size: 16px;
  /*font-weight: 500;*/
  margin-left: 20px;
}

ul {
  list-style: none;
}

.nav {
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
}
.hide {
  display: none;
}

/********************************************************************************************/


                                        /*Image/Logo*/


/********************************************************************************************/

img.logo {
  width: 140px;
  height: 130px;
}

/********************************************************************************************/


                                        /*Main Content*/


/********************************************************************************************/

.main {
  /*border: 1px solid #fff;
  background: #eaeaea;*/
  margin-top: 40px;
  width: 100%;
}

.jobs-main {
  font-size: 18px;
  font-weight: 500;
}
.data-main {
  margin-top: 65px;
}


/*text-align: center;
}

.main p {
  padding-left: 12px;
  margin-left: 32px;
}

/*Check if needed*/

.container {
  margin: 0;
  padding: 0;
}

/********************************************************************************************/


                                      /*Button*/


/********************************************************************************************/

.button {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 100px;
}


/********************************************************************************************/


                                      /*Pagination*/


/********************************************************************************************/

.center {
  text-align: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #4CAF50;
  color: blue;
  border: 1px solid #4CAF50;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}


/********************************************************************************************/


                                       /*Contact*/


/********************************************************************************************/

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

/** {
    margin:0;
    padding:0;
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -webkit-font-smoothing:antialiased;
    -moz-font-smoothing:antialiased;
    -o-font-smoothing:antialiased;
    font-smoothing:antialiased;
    text-rendering:optimizeLegibility;
}

body {
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
    font-weight:300;
    font-size: 12px;
    line-height:30px;
    color:#777;
    background:#0CF;
}*/

.contact-container {
  max-width: 400px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: 400 12px/16px "Open Sans", Helvetica, Arial, sans-serif;
}

#contact {
  background: #F9F9F9;
  padding: 25px;
  margin: 50px 0;
}

#contact h3 {
  color: #F96;
  display: block;
  font-size: 30px;
  font-weight: 400;
}

#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}

#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #0CF;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact button[type="submit"]:hover {
  background: #09C;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}


/********************************************************************************************/


                                       /*Panel*/


/********************************************************************************************/

.title {
  background-color: #fff;
  color: white;
  text-align: center;
  padding-top: 10px;
}

.title h1 {
  font-size: 40px;
}

.panel {
  border: 2px solid white;
  background-color: #007bff;
  width: 100%;
  margin: auto;
  position: absolute;
  height: 530px;
  top: 20px;
  left: 0;
}

.panel__menu {
  width: 100%;
  float: left;
  position: relative;
  bottom: 5px;
  right: 20px;
  list-style: none;
}

.panel__menu.second-box hr {
  -webkit-transform: translateX(325%);
  transform: translateX(325%);
}

.panel__menu hr {
  position: absolute;
  top: 100%;
  width: 20%;
  -webkit-transform: translateX(75%);
  transform: translateX(75%);
  border: none;
  background: #C8DFED;
  height: 1px;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.panel__menu li {
  width: 50%;
  text-align: center;
  float: left;
  cursor: pointer;
  font-size: 16px;
}

.panel__menu li a {
  color: #fff;
  display: inline-block;
  padding: 17px 30px;
  text-transform: uppercase;
}

.panel__wrap {
  width: 108%;
  float: left;
  position: relative;
  bottom: 3px;
  right: 5px;
}

.panel__wrap .panel__box label {
  opacity: 0;
}
div#signInBox {
    width: 250px;
}
div#signUpBox {
    width: 300px;
}

.panel__wrap .panel__box:first-child {
  left: 0;
  -webkit-transform: translateX(30%) scale(0.8);
  transform: translateX(30%) scale(0.8);
  -webkit-animation: box-1--out 0.5s;
  animation: box-1--out 0.5s;
  -webkit-transform-origin: center right;
  transform-origin: center right;
}

.panel__wrap .panel__box:first-child.active {
  -webkit-transform: translateX(35%);
  transform: translateX(35%);
  -webkit-animation: box-1 0.5s;
  animation: box-1 0.5s;
}

.panel__wrap .panel__box:last-child {
  right: 0;
  -webkit-transform: translateX(-30%) scale(0.8);
  transform: translateX(-30%) scale(0.8);
  -webkit-animation: box-2--out 0.5s;
  animation: box-2--out 0.5s;
  -webkit-transform-origin: center left;
  transform-origin: center left;
}

.panel__wrap .panel__box:last-child input[type="submit"] {
  background: none;
  border: 1px solid #A5E434;
  color: #A5E434;
}

.panel__wrap .panel__box:last-child.active {
  -webkit-animation: box-2 0.5s;
  animation: box-2 0.5s;
  -webkit-transform: translateX(-35%);
  transform: translateX(-35%);
}

.panel__box {
  width: 68%;
  float: left;
  z-index: 1;
  background: pink;
  position: absolute;
  padding: 20px;
  background: #C8DFED;
  border-radius: 4px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.panel__box.active {
  background: #fff;
  z-index: 2;
}

.panel__box.active label, .panel__box.active input {
  opacity: 1;
}

.panel__box label {
  float: left;
  width: 100%;
  color: #a1b4b4;
  font-size: 14px;
}

.panel__box input {
  outline: none;
  opacity: 0;
}

.panel__box input[type="text"], .panel__box input[type="password"] {
  margin-top: 10px;
  width: 100%;
  float: left;
  background: #EEF9FE;
  border: 1px solid #CDDBEF;
  border-radius: 3px;
  padding: 7px 10px;
}

.panel__box input[type="submit"] {
  float: right;
  cursor: pointer;
  border: none;
  padding: 11px 40px;
  background: #A5E434;
  border-radius: 30px;
  color: #fff;
}
label {
  text-align: left;
}

@-webkit-keyframes box-1 {
  0% {
    -webkit-transform: translateX(30%) scale(0.8);
    transform: translateX(30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}

@keyframes box-1 {
  0% {
    -webkit-transform: translateX(30%) scale(0.8);
    transform: translateX(30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}

@-webkit-keyframes box-1--out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
    label {
      opacity: 1;
    }
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.8);
    transform: translateX(30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}

@keyframes box-1--out {
  0% {
    -webkit-transform: translateX(35%) scale(1);
    transform: translateX(35%) scale(1);
    z-index: 2;
    label {
      opacity: 1;
    }
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(30%) scale(0.8);
    transform: translateX(30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}

@-webkit-keyframes box-2 {
  0% {
    -webkit-transform: translateX(-30%) scale(0.8);
    transform: translateX(-30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1);
    transform: translateX(-35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}

@keyframes box-2 {
  0% {
    -webkit-transform: translateX(-30%) scale(0.8);
    transform: translateX(-30%) scale(0.8);
    z-index: 1;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
    label, input {
      opacity: 0;
    }
  }
  100% {
    -webkit-transform: translateX(-35%) scale(1);
    transform: translateX(-35%) scale(1);
    z-index: 2;
    label, input {
      opacity: 1;
    }
  }
}

@-webkit-keyframes box-2--out {
  0% {
    -webkit-transform: translateX(-35%) scale(1);
    transform: translateX(-35%) scale(1);
    z-index: 2;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.8);
    transform: translateX(-30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}

@keyframes box-2--out {
  0% {
    -webkit-transform: translateX(-35%) scale(1);
    transform: translateX(-35%) scale(1);
    z-index: 2;
  }
  49% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 2;
  }
  50% {
    -webkit-transform: translateX(0) scale(0.9);
    transform: translateX(0) scale(0.9);
    z-index: 1;
    label, input {
      opacity: 1;
    }
  }
  100% {
    -webkit-transform: translateX(-30%) scale(0.8);
    transform: translateX(-30%) scale(0.8);
    z-index: 1;
    label, input {
      opacity: 0;
    }
  }
}


/********************************************************************************************/


                                        /*Bootstrap Override */


/********************************************************************************************/

.bg-primary {
  width: 100%;
}

.row {
  margin: 0;
}

/********************************************************************************************/


                                        /*User Data Page*/


/********************************************************************************************/

ul.job-post {
  width: 90%;
  position: relative;
  list-style: none;
  left: 18px;
  background-color: whitesmoke;
}

.job-post li {
  margin-bottom: 15px;
}

ul.data-post {
  margin-top: 70px;
  width: 90%;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  background-color: whitesmoke;
}

.data-post li {
  margin-bottom: 15px;
}

.center2 {
  text-align: center;
  position: relative;
  top: 75px;
}

.button5 {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 6px;
  float: right;
  cursor: pointer;
  background-color: #555555;
  position: relative;
  left: 6px;
}


/********************************************************************************************/


                                        /*Media Queries*/



/********************************************************************************************/


/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/
@media only screen and (min-width : 480px) and (max-width : 575px) {
/*@media (min-width: 420px) {*/
  .panel__wrap {
    width: 100%;
  }

}


/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width : 640px){
.panel {
  left: 0;
}
img.logo {
  width: 75px;
}
p {
  font-size: 18px;
}
.jobs-main {
  font-size: 20px;
}
.bottom-logo {
  height: 80px;
  width: 100px;
}

}

/*// Medium devices (tablets, 768px and up)*/


@media (min-width: 641px) and (max-width : 768px){
img.logo {
    width: 90px;
  }
.bottom-logo {
  height: 106px;
  width: 117px;
}
.panel {
  height: 560px;
}
div#signUpBox {
  width: 360px;
}
div#signInBox {
  width: 280px;
}
}


/*// Large devices (desktops, 992px and up)*/


@media (min-width: 769px) and (max-width : 920px) {
p {
  font-size: 18px;
  text-align: center;
  }
.jobs-main {
  font-size: 23px;
  text-align: left;
}
.bottom-logo {
  height: 125px;
  width: 165px;
}
.panel {
  height: 600px;
}
.panel__wrap {
    width: 100%;
  }
.panel__menu li {
  font-size: 20px;
}
.panel__box label {
  font-size: 16px;
}
div#signInBox {
  width: 300px;
  position: relative;
  left: 44px;
}
div#signUpBox {
  width: 330px;
}
}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 921px) and (max-width : 1200px) {
.hide {
  display: inline-block;
}
.button {
  display: none;
}
.main {
  margin-top: 5px;
}
input#mySearch {
  height: 40px;
  font-size: 18px;
  opacity: 0.7;
  padding-left: 5px;
}
.jobs-main {
  position: relative;
  bottom: 200px;
  font-size: 20px;
}
ul.job-post {
  left: 18px;
}
.panel {
  height: 700px;
}
.bottom-logo {
    height: 200px;
    width: 250px;
}
div#signInBox {
  left: 130px;
}
div#signUpBox {
  right: 175px;
}
}

@media (min-width: 1201px)  {
  .hide {
    display: inline-block;
  }
  .button {
    display: none;
  }
  .main {
    margin-top: 5px;
  }
  input#mySearch {
    height: 40px;
    font-size: 18px;
    opacity: 0.7;
    padding-left: 5px;
  }
  .jobs-main {
    position: relative;
    bottom: 200px;
    font-size: 20px;
  }
  ul.job-post {
    left: 18px;
  }
  .panel {
    height: 700px;
  }
  .panel__menu li {
    font-size: 23px;
  }
  .panel__box label {
    font-size: 17px;
  }
  .bottom-logo {
      height: 200px;
      width: 250px;
  }
  div#signInBox {
    left: 400px;
    width: 300px;
  }
  div#signUpBox {
    right: 350px;
    width: 390px
  }
}

/********************************************************************************************/


                                        /*Media Queries*/
                                        /*User Data Page*/


/********************************************************************************************/

@media only screen and (min-width : 769px) and (max-width : 920px) {
  body {
    background-color: #fff;
  }
  .data-button {
    display: none;
  }
  .hide {
    display: inline-block;
  }
  .data-main {
    margin-top: 10px;
    width: 60%;
    float: right;
}
.left {
    float: left;
    margin-top: 125px;
}
.salary-p {
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
}
.jobTitle-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
.location-p {
    margin: 0;
    width: 35%;
    font-weight: 700;
    font-size: 18px;
}
.jobType-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
}

@media (min-width: 921px) and (max-width : 1200px) {
  body {
    background-color: #fff;
  }
  .data-button {
    display: none;
  }
  .hide {
    display: inline-block;
  }
  .data-main {
    margin-top: 10px;
    width: 75%;
    float: right;
}
h1.data-h1 {
  color: #000;
  bottom: 0;
}
.left {
    float: left;
    margin-top: 125px;
}
.salary-p {
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
}
.jobTitle-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
.location-p {
    margin: 0;
    width: 35%;
    font-weight: 700;
    font-size: 18px;
}
.jobType-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
}

@media (min-width: 1201px) {
  body {
    background-color: #fff;
  }
  .data-button {
    display: none;
  }
  .hide {
    display: inline-block;
  }
  .data-main {
    margin-top: 10px;
    width: 75%;
    float: right;
}
h1.data-h1 {
  color: #000;
  bottom: 0;
}
.left {
    float: left;
    margin-top: 125px;
}
.salary-p {
    margin: 0;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
}
.jobTitle-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
.location-p {
    margin: 0;
    width: 35%;
    font-weight: 700;
    font-size: 18px;
}
.jobType-p {
    margin: 0;
    width: 55%;
    font-weight: 700;
    font-size: 18px;
}
}



/* ------------------------------ */
            /*Header*/
/* ------------------------------ */

/* This `header` element wraps background image + heading content. */
.header {
  position: relative;
  padding: 270px 50px 170px;
  text-align: center;
}

/* The header background class is just an empty `div` that makes it easier to control
 * the position and opacity of image than a normal `img` tag would.
 */
.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/post-job.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.headerContent {
  position: relative;
  z-index: 1;
}



/* ------------------------------ */
/* Main Header */
/* ------------------------------ */

/* Heading Styles */
.main h1 {
  position: relative;
  padding-bottom: 15px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 576px) and (max-width : 640px){
  .main h1 {
    font-size: 32px;
  }
}
@media (min-width: 769px) and (max-width : 920px) {
  .main h1 {
    font-size: 35px;
  }
}
@media (min-width: 921px) {
  .main h1 {
    font-size: 45px;
  }
}

/* Subheading Styles */
.text {
  text-align: center;
  color: #fff;
}
@media (min-width: 921px) and (max-width : 1200px) {
  .text {
    font-size: 20px;
  }
}

/* ------------------------------ */
/*Content Image and text on Homepage*/
/* ------------------------------ */
.career {
    width: 100%;
}
.resume {
  width: 100%;
}

#career-advice {

}
#resume-help {
}
@media (min-width: 576px) and (max-width : 640px){
  .content {

  }
}
@media (min-width: 769px) and (max-width : 920px) {
  .content {
    margin-top: 40px;
  }
  .career {
      width: 48%;
      height: 325px;
      float: left;
  }
  .resume {
    width: 48%;
    height: 325px;
    float: right;
  }
}
@media (min-width: 921px) and (max-width : 1200px) {
  .content {
    margin-top: 50px;
  }
  .career {
      width: 48%;
      float: left;
      height: 325px;
  }
  .resume {
    width: 48%;
    float: right;
    height: 325px;
  }
}

@media (min-width: 1201px) {
  .content {
    margin-top: 50px;
  }
  .career {
      width: 48%;
      float: left;
      height: 450px;
  }
  .resume {
    width: 48%;
    float: right;
    height: 450px;
  }
}
/* ------------------------------ */
            /*Join Now*/
/* ------------------------------ */

.join-now {
  clear: both;
  text-align: center;
  width: 100%;
}

.join {
    font-size: 40px;
    text-align: center;
    font-weight: 700;
}

/*Button for create a account*/
.create-account {
    margin: 0 auto;
    padding: 10px;
    font-size: 16px;
    background: #333;
    color: white;
}

@media (min-width: 769px) and (max-width : 920px) {
  .join {
      font-size: 30px;
      padding-top: 15px;
  }
}
/********************************************************************************************/


                                         /*NavBar*/


/********************************************************************************************/

/* Add a black background color to the top navigation */

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
}


/* Style the links inside the navigation bar */

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */

.topnav a:hover {
  background-color: #ddd;
  color: black;
}


/* Hide the link that should open and close the topnav on small screens */

.topnav .icon {
  display: none;
}


/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
}

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
  }
  .topnav a {
      padding: 5px 14px;
  }
}
@media (min-width: 601px) and (max-width : 768px){
.topnav a {
    padding: 10px 10px;
}
}

/********************************************************************************************/


                                         /*Employer Post Job*/


/********************************************************************************************/

/* This `header` element wraps background image + heading content. */
.job-img {
  position: relative;
  text-align: center;
}

/* The header background class is just an empty `div` that makes it easier to control
 * the position and opacity of image than a normal `img` tag would.
 */
.job-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280%;
  background-image: url('/img/post-job.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  margin-top: 40px;
}

.header-content {
  position: relative;
  z-index: 1;
  top: 125px;
  color: white;
}
.header-content h1 {
  font-size: 30px;
}

.employer {
    margin-top: 200px;
}
#employer-posting {
    border: 2px solid #494848;
}
.form-p {
    padding-left: 20px;
    font-size: 16px;
    padding-top: 15px;
    font-weight: 600;
}

.button-label {
    margin: 5px;
    display: inline-block;
}
.click-button {
  background-color: #000;
  color: #fff;
}

/*change color*/
.post-job-btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  position: relative;
  right: 25px;
  margin-top: 5px;
}

@media (min-width : 480px) and (max-width : 575px) {
  #employer-posting {
    width: 101%;
    margin-left: auto;
    margin-right: auto;
}
  .job-background {
    height: 300px;
  }
  .employer {
    margin-top: 320px;
  }
  .header-content {
    top: 215px;
  }
}

@media (min-width : 576px) and (max-width : 640px) {
#employer-posting {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
.job-background {
  height: 300px;
}
.employer {
  margin-top: 340px;
}
.header-content {
  top: 230px;
}
}

@media (min-width : 641px) and (max-width : 768px) {
  #employer-posting {
    width: 85%;
    margin-left: auto;
    margin-right: auto;
}
.header-content h1 {
    font-size: 35px;
}
.job-text {
  font-size: 18px;
}
  .job-background {
    height: 350px;
  }
  .employer {
    margin-top: 380px;
  }
  .header-content {
    top: 230px;
  }
  .form-p {
    font-size: 18px;
  }
}

@media (min-width: 769px) and (max-width : 920px){
  #employer-posting {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
  .job-background {
    height: 375px;
  }
  .employer {
    margin-top: 400px;
  }
  .header-content {
    top: 230px;
  }
  .header-content h1 {
    font-size: 40px;
}
.job-text {
  font-size: 20px;
}
.form-p {
  font-size: 18px;
}
}
@media (min-width: 921px) and (max-width : 1200px){
  #employer-posting {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
}
  .job-background {
    height: 500px;
  }
  .employer {
    margin-top: 520px;
  }
  .header-content {
    top: 320px;
  }
  .header-content h1 {
    font-size: 48px;
  }
  .job-text {
  font-size: 22px;
  }
  .form-p {
  font-size: 20px;
  }
}
@media (min-width: 1201px) {
  .job-background {
    height: 650px;
  }
    #employer-posting {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
  }
    .job-background {
      height: 500px;
    }
    .employer {
      margin-top: 520px;
    }
    .header-content {
      top: 320px;
    }
    .header-content h1 {
      font-size: 48px;
    }
    .job-text {
    font-size: 22px;
    }
    .form-p {
    font-size: 20px;
    }
  }
  /********************************************************************************************/


                                           /*Login Page*/


  /********************************************************************************************/
  .logo-login {
    height: 200px;
  background-size: contain;
      background-position: 0 0;
      background-repeat: no-repeat;
      background-image: url('/img/logo3.JPG');
  }
  .login-page {
      background-color: #e7e7e7;
      height: 300px;
      width: 90%;
      margin-left: auto;
      margin-right: auto;
  }
  .signup-create {
    font-size: 13px;
    margin-left: 15px;
}
.forgot-password {
    font-size: 15px;
    margin-top: 10px;
}

@media (min-width : 480px) and (max-width : 575px){
.login-page {
  width: 80%;
}
}

@media (min-width: 576px) and (max-width : 640px){
.login-page {
  width: 60%;
}
}
@media (min-width: 641px) and (max-width : 768px) {
  .login-page {
    width: 50%;
  }
}
@media (min-width: 769px) and (max-width : 920px) {
  .login-page {
    width: 50%;
  }
  .signup-create {
    margin-left: 58px;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
  .login-page {
    width: 40%;
  }
}
@media (min-width: 1201px) {
  .login-page {
    width: 40%;
  }
}
/********************************************************************************************/


                                         /*Signup Page*/


/********************************************************************************************/
.logo-signup {
  height: 200px;
background-size: contain;
    background-position: 0 0;
    background-repeat: no-repeat;
    background-image: url('/img/logo3.JPG');
}
.signup-page {
    background-color: #e7e7e7;
    height: 500px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.signup-create {
  font-size: 13px;
  margin-left: 15px;
}
.signup-forgot-password {
  font-size: 15px;
  margin-top: 10px;
}

@media (min-width : 480px) and (max-width : 575px){
.signup-page {
width: 80%;
}
}

@media (min-width: 576px) and (max-width : 640px){
.signup-page {
width: 60%;
}
}
@media (min-width: 641px) and (max-width : 768px) {
.signup-page {
  width: 70%;
}
}
@media (min-width: 769px) and (max-width : 920px) {
.signup-page {
  width: 70%;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.signup-page {
  width: 50%;
}
}
@media (min-width: 1201px) {
.signup-page{
  width: 38%;
}
}
  /********************************************************************************************/


                                           /*Profile Page*/


  /********************************************************************************************/


/********************************************************************************************/


                                       /*Admin Page */


/********************************************************************************************/
/*@media (min-width : 480px) and (max-width : 575px)
@media (min-width: 576px) and (max-width : 640px)
@media (min-width: 641px) and (max-width : 768px)
@media (min-width: 769px) and (max-width : 920px)
@media (min-width: 921px) and (max-width : 1200px)
@media (min-width: 1201px)*/

div {
  display: block;
}

.page-content {
  padding-top: 20px;
}


/*Have this for both index and admin pages need to fix*/


/*.container-fluid {
  width: 980px;
  margin-right: auto;
  margin-left: auto;
}*/

.clearfix::before {
  display: table;
  content: "";
}

.float-left {
  float: left !important;
}

.col-3 {
  width: 25%;
  padding-right: 24px !important;
  top: 40px;
}

.col-9 {
  width: 75%;
  top: 40px;
}

.menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}

.menu-header:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}

.menu-header {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: blue;
  background-color: #f3f5f8;
  border-bottom: 1px solid #e1e4e8;
}

.menu-item.selected {
  font-weight: 600;
  color: #24292e;
  cursor: default;
  background-color: #fff;
}

.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e1e4e8;
}

a {
  color: #0366d6;
  text-decoration: none;
}

.Subhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px #e1e4e8 solid;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}

form {
  display: block;
  margin-top: 0em;
}

.form-group {
  margin: 15px 0;
}

dl {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

.text-small {
  font-size: 12px !important;
}

.left-menu li {
  list-style: none;
}

div {
  display: block;
}

/* ------------------------------ */
/* Search Form */
/* ------------------------------ */

#searchForm {
}
