/*Fonts used for H1 "Cinzel"
Fonts used for all other elements "Fauna One"*/

* {
  box-sizing: border-box;
}

body {
  background: #fff;
  Font-Family: 'Fauna One', Serif;
}

a, a:hover {
  text-decoration: none;
}

span {
  display: block;
}

hr {
  background: #7b7d84;
}

h1 {
  Font-Family: 'Cinzel', Cursive;
}

hr {
  width: 99%;
  opacity: 0.6;
  margin-top: 0;
}

input {
  margin-bottom: 10px;
  border: 1px solid #ececec;
}
nav {
  background-color: #fff;
}

p {
  font-size: 16px;
}

ul {
  list-style: none;
}

.nav {
  display: inline-block;
  margin-right: 30px;
  font-size: 15px;
  font-weight: 600;
}
.hide {
  display: none;
}

.margin-left {
  margin-left: 20px;
}

/********************************************************************************************/


                                        /*Main Content*/


/********************************************************************************************/

.main {
  margin-top: 40px;
  width: 100%;
}
.container {
  margin: 0;
  padding: 0;
}

/********************************************************************************************/


                                      /*Button*/


/********************************************************************************************/

.button {
  background-color: #007bff;
  border: none;
  color: #fff;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  position: relative;
  left: 100px;
}

a.active {
  background: #707070;
  color: #000;
}

/********************************************************************************************/


                                      /*Pagination*/


/********************************************************************************************/

.center {
  text-align: center;
}
.pagination-center {
  width: 100%;
}

.pagination {
  display: inline-block;
  background: #fff;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #707068;
  color: #fff;
  border: 1px solid #707068;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
}

/********************************************************************************************/


                                        /*Bootstrap Override */


/********************************************************************************************/

.bg-primary {
  width: 100%;
}

.row {
  margin: 0;
}
/********************************************************************************************/


                                        /*Media Queries*/



/********************************************************************************************/


/*// Extra small devices (portrait phones, less than 576px)
// No media query since this is the default in Bootstrap*/
@media only screen and (min-width : 480px) and (max-width : 575px) {
}

/*// Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) and (max-width : 640px){
p {
  font-size: 18px;
}
}

/*// Medium devices (tablets, 768px and up)*/
@media (min-width: 641px) and (max-width : 768px){

}

/*// Large devices (desktops, 992px and up)*/
@media (min-width: 769px) and (max-width : 920px) {

}

/*// Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 921px) and (max-width : 1200px) {
.hide {
  display: inline-block;
}
.button {
  display: none;
}
.main {
  margin-top: 5px;
}
input#mySearch {
  height: 40px;
  font-size: 18px;
  opacity: 0.7;
  padding-left: 5px;
}
ul.job-post {
  left: 18px;
}
}

@media (min-width: 1201px)  {
.hide {
  display: inline-block;
  }
.button {
  display: none;
  }
.main {
  margin-top: 5px;
  }
#mySearch {
  height: 40px;
  font-size: 18px;
  opacity: 0.7;
  padding-left: 5px;
}
.job-post {
  left: 18px;
}
}

/* ------------------------------ */
            /*Header*/
/* ------------------------------ */

/* This `header` element wraps background image + heading content. */
.header {
  position: relative;
  padding: 270px 50px 170px;
  text-align: center;
}

/* The header background class is just an empty `div` that makes it easier to control
 * the position and opacity of image than a normal `img` tag would.
 */
.headerBackground {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('/img/post-job.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
}

.headerContent {
  position: relative;
  z-index: 1;
}

/* ------------------------------ */
/* Main Header */
/* ------------------------------ */

/* Heading Styles */
.main h1 {
  position: relative;
  padding-bottom: 15px;
  color: #fff;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}
@media (min-width: 576px) and (max-width : 640px){
.main h1 {
  font-size: 32px;
}
}
@media (min-width: 769px) and (max-width : 920px) {
.main h1 {
  font-size: 35px;
}
}
@media (min-width: 921px) {
.main h1 {
  font-size: 45px;
}
}

/* Subheading Styles */
.text {
  text-align: center;
  color: #fff;
}
@media (min-width: 921px) and (max-width : 1200px) {
.text {
  font-size: 20px;
}
}

/* ------------------------------ */
/*Content Image and text on Homepage*/
/* ------------------------------ */
.career {
  width: 100%;
}
.resume {
  width: 100%;
}
#career-advice {
  margin-top: 5px;
}
#resume-help {
  margin-top: 5px;
}
.home-search {
  background-color: #333;
  color: #fff;
}
@media (min-width: 769px) and (max-width : 920px) {
.content {
  margin-top: 40px;
}
.career {
  width: 48%;
  height: 325px;
  float: left;
}
.resume {
  width: 48%;
  height: 325px;
  float: right;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.content {
  margin-top: 50px;
}
.career {
  width: 48%;
  float: left;
  height: 325px;
}
.resume {
  width: 48%;
  float: right;
  height: 325px;
}
}

@media (min-width: 1201px) {
.content {
  margin-top: 50px;
}
.career {
  width: 48%;
  float: left;
  height: 450px;
}
.resume {
  width: 48%;
  float: right;
  height: 450px;
}
}
/* ------------------------------ */
            /*Join Now*/
/* ------------------------------ */

.join-now {
  clear: both;
  text-align: center;
  width: 100%;
}

.join {
  font-size: 40px;
  text-align: center;
  font-weight: 700;
}

/*Button for create a account*/
.create-account {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background: #333;
  color: #fff;
}

@media (min-width: 769px) and (max-width : 920px) {
  .join {
    font-size: 30px;
    padding-top: 15px;
}
}
/********************************************************************************************/


                                         /*NavBar*/


/********************************************************************************************/

.topnav {
  background-color: #333;
  overflow: hidden;
  width: 100%;
  margin-top: 40px;
  display: flex;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.right {
  margin-left: auto;
  cursor: pointer;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
.topnav a:not(:first-child) {display: none;}
.topnav a.icon {
  float: right;
  display: block;
}
}
/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) {
.topnav.responsive {position: relative;}
.topnav.responsive a.icon {
  position: absolute;
  right: 0;
  top: 0;
}
.topnav.responsive a {
  float: none;
  display: block;
}
.topnav a {
  padding: 5px 14px;
}
}
@media (min-width: 601px) and (max-width : 768px){
.topnav a {
  padding: 10px 10px;
}
}

/********************************************************************************************/


                                         /*Employer Post Job*/


/********************************************************************************************/

/* This `header` element wraps background image + heading content. */
.job-img {
  position: relative;
  text-align: center;
}

/* The header background class is just an empty `div` that makes it easier to control
 * the position and opacity of image than a normal `img` tag would.
 */
.job-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 280%;
  background-image: url('/img/post-job.jpg');
  background-size: cover;
  background-position: center;
  opacity: 0.6;
  margin-top: 40px;
}

.header-content {
  position: relative;
  z-index: 1;
  top: 125px;
  color: #fff;
}
.header-content h1 {
  font-size: 30px;
}

.employer {
    margin-top: 200px;
}
#employer-posting {
  border: 2px solid #494848;
}
.form-p {
  padding-left: 20px;
  font-size: 16px;
  padding-top: 15px;
  font-weight: 600;
}

.button-label {
  margin: 5px;
  display: inline-block;
}
.click-button {
  background-color: #000;
  color: #fff;
}

/*change color*/
.post-job-btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  position: relative;
  right: 25px;
  margin-top: 5px;
  cursor: pointer;
}

@media (min-width : 480px) and (max-width : 575px) {
#employer-posting {
  width: 101%;
  margin-left: auto;
  margin-right: auto;
}
.job-background {
  height: 300px;
}
.employer {
  margin-top: 320px;
}
.header-content {
  top: 215px;
}
}

@media (min-width : 576px) and (max-width : 640px) {
#employer-posting {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  }
.job-background {
  height: 300px;
}
.employer {
  margin-top: 340px;
}
.header-content {
  top: 230px;
}
}

@media (min-width : 641px) and (max-width : 768px) {
#employer-posting {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
}
.header-content h1 {
  font-size: 35px;
}
.job-text {
  font-size: 18px;
}
.job-background {
  height: 350px;
}
.employer {
  margin-top: 380px;
}
.header-content {
  top: 230px;
}
.form-p {
  font-size: 18px;
}
}

@media (min-width: 769px) and (max-width : 920px){
#employer-posting {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}
.job-background {
  height: 375px;
  }
.employer {
  margin-top: 400px;
  }
.header-content {
  top: 230px;
  }
.header-content h1 {
  font-size: 40px;
}
.job-text {
  font-size: 20px;
}
.form-p {
  font-size: 18px;
}
}
@media (min-width: 921px) and (max-width : 1200px){
#employer-posting {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.job-background {
  height: 500px;
}
.employer {
  margin-top: 520px;
}
.header-content {
  top: 320px;
}
.header-content h1 {
  font-size: 48px;
}
.job-text {
  font-size: 22px;
}
.form-p {
  font-size: 20px;
}
}
@media (min-width: 1201px) {
.job-background {
  height: 650px;
}
#employer-posting {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.job-background {
  height: 500px;
}
.employer {
  margin-top: 520px;
}
.header-content {
  top: 320px;
}
.header-content h1 {
  font-size: 48px;
}
.job-text {
  font-size: 22px;
}
.form-p {
  font-size: 20px;
}
}
  /********************************************************************************************/


                                           /*Login Page*/


  /********************************************************************************************/
#signInBox {
  text-align: center;
  }
.login {
  background: #e7e7e7;
}
.logo-login {
  height: 200px;
  background-size: contain;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('/img/logo3.JPG');
}
.login-page {
  background-color: #fff;
  height: 300px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}
form#signInForm {
  margin-top: 30px;
}
.login-subhead-heading {
  text-align: center;
}
.login-hr {
  width: 90%;
}
.signup-create {
  text-align: center;
}
.forgot-password {
  margin-top: 10px;
}
.login-signup-container {
  text-align: center;
}

@media (min-width : 480px) and (max-width : 575px){
.login-page {
  width: 80%;
}
}

@media (min-width: 576px) and (max-width : 640px){
.login-page {
  width: 60%;
}
}
@media (min-width: 641px) and (max-width : 768px) {
.login-page {
  width: 50%;
}
}
@media (min-width: 769px) and (max-width : 920px) {
.login-page {
  width: 50%;
}
.signup-create {
  margin-left: 58px;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.login-page {
  width: 40%;
}
}
@media (min-width: 1201px) {
.login-page {
  width: 40%;
}
}
/********************************************************************************************/


                                         /*Signup Page*/


/********************************************************************************************/
.signup {
  background: #e7e7e7;
}
.logo-signup {
  height: 200px;
  background-size: contain;
  background: #fff;
  background-position: 0 0;
  background-repeat: no-repeat;
  background-image: url('/img/logo3.JPG');
}
.signup-subhead {
  padding: 10px;
}
.signup-subhead-heading {
  text-align: center;
}
.signup-hr {
  width: 100%;
}
.signup-page {
  background-color: #fff;
  height: 400px;
  width: 95%;
  max-width: 400px;
  margin: auto;
  margin-top: 50px;
}
.signin-create {
  margin-left: 15px;
  text-align: center;
}
.signin-forgot-password {
  text-align: center;
}
.signup-class-btn {
  text-align: center;
  margin-bottom: 5px;
}
.signup-btn {
   margin: 0 auto;
   font-size: 18px;
   background: #333;
   color: #fff;
   display: block;
  cursor: pointer;
}
@media (min-width : 480px) and (max-width : 575px){
.signup-page {
  width: 80%;
}
}
@media (min-width: 576px) and (max-width : 640px){
.signup-page {
  width: 60%;
}
}
@media (min-width: 641px) and (max-width : 768px) {
.signup-page {
  width: 70%;
}
}
@media (min-width: 769px) and (max-width : 920px) {
.signup-page {
  width: 70%;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.signup-page {
  width: 50%;
}
}
@media (min-width: 1201px) {
.signup-page{
  width: 38%;
}
}
  /********************************************************************************************/


                                           /*Profile Page*/


  /********************************************************************************************/
.subhead-heading {
  margin-top: 35px;
  }
.profile-menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
  width: 225%;
}
.profile-left-menu {
  padding: 0;
}
.page {
  background-color: #e7e7e7;
  height: 600px;
  width: 100%;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
.profile-left {
  margin-left: 100px;
  width: 40%;
}
.update-btn {
  color: #fff;
  background-color: #000;
  border-color: #000;
  position: relative;
  right: 1px;
  margin-top: 5px;
  cursor: pointer;
}
@media (min-width : 480px) and (max-width : 575px) {
.profile-left {
  margin-left: 155px;
}
}
@media (min-width: 576px) and (max-width : 640px){
.profile-left {
  margin-left: 185px;
}
.profile-menu {
  width: 195%;
}
}
@media (min-width: 641px) and (max-width : 768px){
.profile-menu {
  width: 158%;
}
.profile-left {
  margin-left: 130px;
}
}
@media (min-width: 769px) and (max-width : 920px){
.profile-menu {
  width: 125%;
}
.profile-left {
  margin-left: 130px;
}
.form-control {
  width: 70%;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.profile-menu {
  width: 115%;
}
.profile-left {
  margin-left: 130px;
}
.form-control {
  width: 65%;
}
}
@media (min-width: 1201px) {
.profile-menu {
  width: 75%;
}
.form-control {
  width: 60%;
}
}

/********************************************************************************************/


                                       /*Admin Page */


/********************************************************************************************/
.page-content {
  padding-top: 20px;
}

.delete_account_p {
  float: left;
}
.delete-account {
  padding: 0;
  margin: 0;
  border: 0;
}
.admin-update-btn {
  margin-bottom: 5px;
  background-color: #333;
  color: #fff;
}
.clearfix::before {
  display: table;
  content: "";
}
.float-left {
  float: left !important;
}
.col-3 {
  width: 25%;
  padding-right: 24px !important;
  top: 40px;
}
.col-9 {
  width: 75%;
  top: 40px;
}
.menu {
  margin-bottom: 15px;
  list-style: none;
  background-color: #fff;
  border: 1px solid #d1d5da;
  border-radius: 3px;
}
.menu-header:first-child {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
}
.menu-header {
  display: block;
  padding: 8px 10px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 600;
  line-height: 20px;
  color: blue;
  background-color: #f3f5f8;
  border-bottom: 1px solid #e1e4e8;
}
.menu-item.selected {
  font-weight: 600;
  color: #24292e;
  cursor: default;
  background-color: #fff;
}
.menu-item {
  position: relative;
  display: block;
  padding: 8px 10px;
  border-bottom: 1px solid #e1e4e8;
}
.subhead {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  padding-bottom: 8px;
  margin-bottom: 16px;
  border-bottom: 1px #e1e4e8 solid;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
}
form {
  display: block;
  margin-top: 0em;
}
.form-group {
  margin: 15px 0;
}
dl {
  display: block;
  -webkit-margin-before: 1em;
  -webkit-margin-after: 1em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}
.text-small {
  font-size: 12px !important;
}
.left-menu li {
  list-style: none;
}

/********************************************************************************************/


                                        /*User Data Page*/


/********************************************************************************************/

.hide {
  display: none;
}
.data-page {
  background: #ebebea;
}
.top-img {
  background: #fff;
  display: flex;
  align-items: center;
}
.data-logo {
  width: 15%;
}
.money-sign {
  display: inline;
  margin: 0;
  margin-right: 2px;
}
.grid {
  display: flex;
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.grid-sidebar {
  flex: 0 0 280px;
  margin-right: 75px;
  margin-top: 50px;
  background: #ebebea;
  margin-left: 10px;
}
.result-btn {
  margin-left: 35px;
  margin-top: 5px;
}
.filter-results {
  margin: 0;
  margin-top: 20px;
  margin-right: 65px;
  margin-bottom: 10px;
}
.salary-div p {
  text-align: left;
  margin: 0;
  margin-left: 35px;
  font-size: 16px;
  font-weight: 600;
}
.salary-div ul {
  margin-top: 10px;
}
.salary-div li {
  border: 1px solid gray;
  padding: 4px;
  width: 75%;
  background: #fff;
}
.salary-p {
  margin-top: 20px;
}
.grid-content {
  flex: 1 1 auto;
  background: #ebebea;
  margin-top: 50px;
}

#job-list {
  background: #fff;
}
.data-main p {
  margin-left: 0;
}
.job-post li {
  padding-top: 10px;
}
.apply-btn {
  margin: 0 auto;
  padding: 5px;
  font-size: 16px;
  background: #333;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}
.data-btn {
  margin: 0 auto;
  padding: 10px;
  font-size: 18px;
  background: #333;
  margin-bottom: 10px;
  color: #fff;
  cursor: pointer;
}
.settings-btn {
  margin: 0 auto;
  padding: 10px;
  font-size: 16px;
  background: #333;
  color: #fff;
  float: right;
  cursor: pointer;
}
@media (min-width: 769px) and (max-width : 920px){
.hide {
  display: inline-block;
}
.data-btn {
  display: none;
}
.grid {
  width: 97%;
}
.data-main p {
  text-align: left;
}
.grid-sidebar {
  margin-right: 0;
}
}
@media (min-width: 921px) and (max-width : 1200px){
.hide {
  display: inline-block;
}
.data-btn {
  display: none;
}
.grid {
  width: 97%;
}
.filter-results {
  margin-left: 35px;
}
.salary-div p {
  margin-left: 40px;
}
}
@media (min-width: 1201px){
.hide {
  display: inline-block;
  margin-left: 13px;
}
.data-btn {
  display: none;
}
.grid {
  width: 100%;
}
.result-btn {
  margin-left: 0;
}
.filter-results {
  margin-left: 0;
}
.salary-div p {
  margin-left: 0;
}
.salary-div ul {
  padding-left: 0;
}
}

/********************************************************************************************/


                                       /*Contact Page*/


/********************************************************************************************/

.contact-page {
  background: #ebebea;
}
.contact-container {
  max-width: 400px;
  width: 80%;
  margin: 0 auto;
  position: relative;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea, #contact button[type="submit"] {
  font: message-box;
}
#contact {
  background: #fff;
  padding: 25px;
  margin: 50px 0;
}
#contact h3 {
  display: block;
  font-size: 30px;
  font-weight: 400;
}
#contact h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 16px;
}
fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}
#contact input[type="text"], #contact input[type="email"], #contact input[type="tel"], #contact input[type="url"], #contact textarea {
  width: 100%;
  border: 1px solid #CCC;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}
#contact input[type="text"]:hover, #contact input[type="email"]:hover, #contact input[type="tel"]:hover, #contact input[type="url"]:hover, #contact textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
#contact textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}
#contact button[type="submit"] {
  cursor: pointer;
  width: 100%;
  padding: 10px;
  font-size: 15px;
  margin: 0 auto;
  font-size: 16px;
  background: #333;
  color: #fff;
}
#contact input:focus, #contact textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
::-webkit-input-placeholder {
  color: #888;
}
:-moz-placeholder {
  color: #888;
}
::-moz-placeholder {
  color: #888;
}
:-ms-input-placeholder {
  color: #888;
}

/********************************************************************************************/


                                       /*About Page*/


/********************************************************************************************/
.goal-img {
  width: 100%;
  height: 200px;
}
.about-page {
  background: #ebebea;
}
.about-container {
  width: 70%;
  margin: 0 auto;
  position: relative;
  background: #fff;
  margin-top: 10px;
  padding: 25px;
}
.goal-header, .about-header, .about-p, .goal {
  text-align: center;
}

#about {
  background: #fff;
  padding: 25px;
  margin: 50px 0;
}

@media (min-width: 576px) and (max-width : 640px){
.goal-img {
  height: 250px;
}
}
@media (min-width: 641px) and (max-width : 768px){
.goal-img {
  height: 300px;
}
}
@media (min-width: 769px) and (max-width : 920px){
.goal-img {
  height: 350px;
}
}
@media (min-width: 921px) and (max-width : 1200px) {
.goal-img {
  height: 400px;
}
}
@media (min-width: 1201px) {
.goal-img {
  height: 450px;
}
}
/* ------------------------------ */
/* Search Form */
/* ------------------------------ */
#searchForm {
  margin-left: 35px;
}
#jobTitle {
  width: 33%;
  border-radius: 8%;
  padding-left: 5px;
  background: #fff;
  border: 1px solid darkgrey;
}
.home-location {
  width: 33%;
  height: 26px;
}
#dataJobTitle {
  width: 36%;
  border-radius: 8%;
  padding-left: 5px;
  background: #fff;
  border: 1px solid darkgrey;
}
.data-location {
  width: 60%;
  height: 26px;
  margin-bottom: 10px;
}
/* ------------------------------ */
         /*  Toastr */
/* ------------------------------ */
